body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #4facfe, #00f2fe);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
}

.card {
  background: rgba(0,0,0,0.3);
  border-radius: 15px;
  padding: 20px;
  max-width: 350px;
  margin: auto;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

p {
  font-size: 18px;
}

footer {
  margin-top: 30px;
  font-size: 14px;
}

.names {
  font-size: 14px;
  opacity: 0.8;
}
